<section ng-controller="HomeController">
    
    <div class="jumbotron text-center">
            <div class="row" style="background-color:black; opacity: 0.85;">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <img alt="MEAN.JS" class="wow flip animated img-responsive text-center" src="modules/core/client/img/brand/logo_2_4.png " />
                </div>
            </div>

            <br>
            <div class="row">
                <h3><b> Welcome to my Portfolio!</b></h3>
            </div>
        <br />
            <div class="row">
                <p>
                    <a class="wow fadeIn animated btn btn-primary btn-lg" href="https://github.com/goodsonwebdesign" target="_blank">View GitHub</a>
                    <a class="wow fadeIn animated btn btn-primary btn-lg" href="mailto:goodsonwebdesign@gmail.com?Subject=Resume%20Request" > Need a Resume?</a>
                    <a class="wow fadeIn animated btn btn-primary btn-lg" href="mailto:goodsonwebdesign@gmail.com?Subject=Hello%20Brandon"> Email Me!</a>

                     <br />
                    <br />
                    Feel free to check out my GitHub.
                </p>

            </div>
        </div>
    <div>
        <h2>Take a look around and enjoy!</h2>
        <p>This application has been constructed with the various technologies I am currently using and studying. Some I have extensive knowledge in, while others I have only a working knowledge of.</p>
        <h4><b>Some of the technologies used in the construction of this application are listed below.</b></h4>
        <h1 class="wow slideInLeft animated"><b>Let's start with the elephant in the room.</b></h1>
        <p><b>These are the core technologies used in creating this application. This is known as MEAN stack developement. The wonderful thing about the MEAN stack is that it is all JavaScript.</b></p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2 class="wow bounceInUp animated"><strong>M</strong>ongoDB</h2>
            <p><a target="_blank" href="http://mongodb.org/"> is a NoSQL database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
        </div>
        <div class="col-md-3">
            <h2 class="wow bounceInUp animated"><strong>E</strong>xpress</h2>
            <p><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
        </div>
        <div class="col-md-3">
            <h2 class="wow bounceInUp animated"><strong>A</strong>ngularJS</h2>
            <p><a target="_blank" href="http://angularjs.org/">AngularJS</a> is client-side web application framework. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
        </div>
        <div class="col-md-3">
            <h2 class="wow bounceInUp animated"><strong>N</strong>ode.js</h2>
            <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
        </div>
    </div>
    <p><b>While these are the core technologies, they can't pull this off alone. Here are some of the other ones that aren't as easy to see.</b></p>

    <div class="row">
        <div class="col-md-3">
            <h2 class="wow bounceInUp animated">BootStrap</h2>
            <p><a target="_blank" href="http://getbootstrap.com/"><img alt="Bootstrap" class="img-responsive text-center" src="modules/core/client/img/brand/bootstrap.jpg " style="width: 150px; height: 150px;" /></a></p>
        </div>
        <div class="col-md-3">
            <h2 class="wow bounceInUp animated">Gulp</h2>
            <p><a target="_blank" href="http://gulpjs.com/"><img alt="Gulp" class="img-responsive text-center" src="modules/core/client/img/brand/gulp.jpg " style="width: 150px; height: 150px;" /></a></p>
        </div>
        <div class="col-md-3">
            <h2 class="wow bounceInUp animated">Sass</h2>
            <p><a target="_blank" href="http://sass-lang.com/"><img alt="Gulp" class="img-responsive text-center" src="modules/core/client/img/brand/sass.jpg " style="width: 150px; height: 150px;" /></a></p>
        </div>
        <div class="col-md-3">
            <h2 class="wow bounceInUp animated">Bower</h2>
            <p><a target="_blank" href="http://bower.io/"><img alt="Gulp" class="img-responsive text-center" src="modules/core/client/img/brand/bower.png " style="width: 150px; height: 150px;" /></a></p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <h2>Yeoman</h2>
            <p><a target="_blank" href="http://yeoman.io/"><img alt="Gulp" class="img-responsive text-center" src="modules/core/client/img/brand/yeoman.jpg " style="width: 150px; height: 150px;" /></a></p>
        </div>
        <div class="col-md-3">
            <h2>Font-Awesome</h2>
            <p><a target="_blank" href="https://fortawesome.github.io/Font-Awesome/"><img alt="Gulp" class="img-responsive text-center" src="modules/core/client/img/brand/fontawesome.png " style="width: 150px; height: 150px;" /></a></p>
        </div>
        <div class="col-md-3">
            <h2>Ruby</h2>
            <p><a target="_blank" href="https://www.ruby-lang.org/en/"><img alt="Gulp" class="img-responsive text-center" src="modules/core/client/img/brand/ruby.jpg " style="width: 150px; height: 150px;" /></a></p>
        </div>
        <div class="col-md-3">
            <h2>Jquery</h2>
            <p><a target="_blank" href="https://jquery.com/"><img alt="Gulp" class="img-responsive text-center" src="modules/core/client/img/brand/jquery.png " style="width: 150px; height: 150px;" /></a></p>
        </div>
    </div>
    <br />

  
    <div class="well">


    </div>


</section>
