<section ng-controller="HomeController">

    <div class="jumbotron text-center">
        <div class="row" style="background-color:black;">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <img alt="MEAN.JS" class="wow flip animated img-responsive text-center" src="https://s3.amazonaws.com/goodsonwebdesign/logo_2_4.png" />
            </div>
        </div>

        <br>
        <div class="row">
            <h3><b> Welcome to my Portfolio!</b></h3>
        </div>
        <br />
        <div class="row">

            <a class="wow fadeIn animated btn btn-primary btn-lg" href="https://github.com/goodsonwebdesign" target="_blank">View GitHub</a>
            <a class="wow fadeIn animated btn btn-primary btn-lg" href="https://s3.amazonaws.com/goodsonwebdesign/Goodson.docx" download="Goodson.docx"> Need a Resume?</a>
            <a class="wow fadeIn animated btn btn-primary btn-lg" href="mailto:goodsonwebdesign@gmail.com?Subject=Hello%20Brandon"> Email Me!</a>

            <br />
            <br />
            <h3> Feel free to check out my GitHub.</h3>


        </div>
    </div>
    <p>This application has been constructed with the various technologies I am currently using and studying. Some I have extensive knowledge in, while others I have only a working knowledge of.</p>
    <h4><b>Some of the technologies used in the construction of this application are listed below.</b></h4>
    <h2 class="wow zoomInDown animated"><b>Let's start with the elephant in the room.</b></h2>
    <p><b>These are the core technologies used in creating this application. This is known as MEAN stack developement. The wonderful thing about the MEAN stack is that it is all JavaScript.</b></p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2 class="wow flip animated" style="-webkit-animation-delay: .6s; /* Chrome, Safari, Opera */animation-delay: .6s;"><strong>M</strong>ongoDB</h2>
            <p class="wow bounceInUp animated" style="-webkit-animation-delay: 0s; /* Chrome, Safari, Opera */animation-delay: 0s;"><a target="_blank" href="http://mongodb.org/"> is a NoSQL database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
        </div>
        <div class="col-md-3">
            <h2 class="wow flip animated" style="-webkit-animation-delay: .4s; /* Chrome, Safari, Opera */animation-delay: .4s;"><strong>E</strong>xpress</h2>
            <p class="wow bounceInUp animated" style="-webkit-animation-delay: .2s; /* Chrome, Safari, Opera */animation-delay: .2s;"><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
        </div>
        <div class="col-md-3">
            <h2 class="wow flip animated" style="-webkit-animation-delay: .2s; /* Chrome, Safari, Opera */animation-delay: .2s;"><strong>A</strong>ngularJS</h2>
            <p class="wow bounceInUp animated" style="-webkit-animation-delay: .4s; /* Chrome, Safari, Opera */animation-delay: .4s;"><a target="_blank" href="http://angularjs.org/">AngularJS</a> is client-side web application framework. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
        </div>
        <div class="col-md-3">
            <h2 class="wow flip animated" style="-webkit-animation-delay: 0s; /* Chrome, Safari, Opera */animation-delay: 0s;"><strong>N</strong>ode.js</h2>
            <p class="wow bounceInUp animated" style="-webkit-animation-delay: .6s; /* Chrome, Safari, Opera */animation-delay: .6s;"><a target="_blank" href="http://nodejs.org/">Node.js</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
        </div>
    </div>
    <h3><b>While these are the core technologies, they can't pull this off alone. Here are some of the other ones that aren't as easy to see.</b></h3>


    <br />


    <div class="well">
        <div class="row">
            <div class="col-md-3">
                <h2 class="wow bounceInUp animated">BootStrap</h2>
                <p><a target="_blank" href="http://getbootstrap.com/"><img alt="Bootstrap" class="wow flip animated img-responsive text-center" src="modules/core/client/img/brand/bootstrap.jpg " style="width: 150px; height: 150px;" /></a></p>
            </div>
            <div class="col-md-3">
                <h2 class="wow bounceInUp animated">Gulp</h2>
                <p><a target="_blank" href="http://gulpjs.com/"><img alt="Gulp" class="wow flip animated img-responsive text-center" src="modules/core/client/img/brand/gulp.jpg " style="width: 150px; height: 150px; -webkit-animation-delay: .2s; /* Chrome, Safari, Opera */animation-delay: .2s; " /></a></p>
            </div>
            <div class="col-md-3">
                <h2 class="wow bounceInUp animated">Sass</h2>
                <p><a target="_blank" href="http://sass-lang.com/"><img alt="Gulp" class="wow flip animated img-responsive text-center" src="modules/core/client/img/brand/sass.jpg " style="width: 150px; height: 150px;  -webkit-animation-delay: .4s; /* Chrome, Safari, Opera */animation-delay: .4s; " /></a></p>
            </div>
            <div class="col-md-3">
                <h2 class="wow bounceInUp animated">Bower</h2>
                <p><a target="_blank" href="http://bower.io/"><img alt="Gulp" class="wow flip animated img-responsive text-center" src="modules/core/client/img/brand/bower.png " style="width: 150px; height: 150px;  -webkit-animation-delay: .6s; /* Chrome, Safari, Opera */animation-delay: .6s; " /></a></p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <h2 class="wow bounceInUp animated">Yeoman</h2>
                <p><a target="_blank" href="http://yeoman.io/"><img alt="Gulp" class="wow flip animated img-responsive text-center" src="modules/core/client/img/brand/yeoman.jpg " style="width: 150px; height: 150px;  -webkit-animation-delay: .8s; /* Chrome, Safari, Opera */animation-delay: .8s; " /></a></p>
            </div>
            <div class="col-md-3">
                <h2 class="wow bounceInUp animated">Font-Awesome</h2>
                <p><a target="_blank" href="https://fortawesome.github.io/Font-Awesome/"><img alt="Gulp" class="wow flip animated img-responsive text-center" src="modules/core/client/img/brand/fontawesome.png " style="width: 150px; height: 150px;  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */animation-delay: 1s; " /></a></p>
            </div>
            <div class="col-md-3">
                <h2 class="wow bounceInUp animated">Ruby</h2>
                <p><a target="_blank" href="https://www.ruby-lang.org/en/"><img alt="Gulp" class="wow flip animated img-responsive text-center" src="modules/core/client/img/brand/ruby.jpg " style="width: 150px; height: 150px;  -webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */animation-delay: 1.2s; " /></a></p>
            </div>
            <div class="col-md-3">
                <h2 class="wow bounceInUp animated">Jquery</h2>
                <p><a target="_blank" href="https://jquery.com/"><img alt="Gulp" class="wow flip animated img-responsive text-center" src="modules/core/client/img/brand/jquery.png " style="width: 150px; height: 150px;  -webkit-animation-delay: 1.4s; /* Chrome, Safari, Opera */animation-delay: 1.4s; " /></a></p>
            </div>
        </div>

    </div>
    <br />
    <h2>About Me!</h2>
    <br />
    <div class="row">
        <div class=" bio-img col-md-3">
            <p><a target="_blank" href="#"><img alt="#" class=" wow flipInX animated img-responsive text-center" src="https://s3.amazonaws.com/goodsonwebdesign/PhotoScan.jpg" style="width: 250px; height: 300px;" /></a></p>

            <h3>Brandon E.Goodson</h3>
        </div>
        <div class="col-md-9">
            <h2>Biography</h2>
            <p class=" wow fadeIn animated bio" style="-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */animation-delay: 1s;">I currently work as a freelance developer in the greater Tavares area. I have been in this industry now for about nine years and enjoy it greatly. I find it to be both rewarding and challenging. Unfortunately, the amount of work has slowly declined as the number of privately owned businesses have also declined. Since 2004, I have worked in many areas of Information Technology, from instructing the elderly on how to use social media and setting up their new machines, to full scale web developement. While I do enjoy the freelance market I think it is time for me to move into enterprise level developement. I am always looking for new challenges and I believe this is the next step in my journey. </p>

            <p class=" wow fadeIn animated bio" style="-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */animation-delay: 1s;">As you will find on my resume I am well equipped with the knowledge to perform many front-end developement tasks. I have many of the top technologies under my belt as showcased in this application. This was the primary reason for developing this application. I find it more impactful when someone shows you what they know rather than saying that they know it.</p>
        </div>

    </div>
    <div class="row">
        <p class=" wow fadeIn animated bio" style="-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */animation-delay: 1s;">I am currently seeking a position with an established company who has as much interest in the team that it employs as it does the products they produce. Learning is a large part of the reason I got into developement. It should be a large part of the company I work for as well. No developer wants to sit in a stagnant pool of code, new ways of doing things are always being developed. I would like to on board with a company who has interest in the new technologies and doesn't mind investing the time, energy, and finances to train their team in these new technologies.</p>
        <p class=" wow fadeIn animated bio" style="-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */animation-delay: 1s;">I am happily married to the woman of my dreams, have two children, and a mortgage. Relocation is completely out of the question for me at this point in my life. I am willing to commute up to an hour to and from work however.</p>

    </div>
    <div class="well">
        <p><strong>This web application was made by Brandon E. Goodson to serve as an online portfolio. <b>2015-2016</b></strong></p>
    </div>
</section>
