.content {
    margin-top: 50px;
    
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.header-profile-image {
    opacity: 0.8;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}

.user-header-dropdown-toggle {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.error-text {
    display: none;
}

.has-error .help-block.error-text {
    display: block;
}

.has-error .help-inline.error-text {
    display: inline;
}
.page-header{
    text-align:center;
    padding:10px;
}
.list-area{
    padding:50px;
}
.listed-article-title{
    background-color:lightblue;
    padding:5px;
    text-align:center;
}
.list-article-body{
    padding:25px;
    border:1px black solid;
}
.list-group-item{
    margin-top:10px;
    border:1px black solid;
}
.bio{
    font-size: 1.25em;
    text-indent:50px
    text-align:  !important;
}
.bio-img{
    text-align:center;
}